<section class="customers-section section">
    <div class="container customers-container">
      <h2 class="section-title customers-title">What our Customers Say</h2>
      <p class="paragraph customers-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul class="say-list list">
        <li class="customers-card">
          <div class="card-place">
            <svg class="customer-icon" width="101px" height="16px">
              <use href="./img/images/svg/icons.svg#icon-stars"></use>
            </svg>
            <p class="customer-text">
              “The Best app I have used to order food in a while, so many options to choose from too, I would
              recommend to a freind, No questions asked”
            </p>
            <div class="customer-info">
              <img src="./img/images/custom-m.png" alt="custom" width="48px" height="48px" />
              <div>
                <h3 class="customer-name">Sumith Shah</h3>
                <p class="customer-descr">Some Dude</p>
              </div>
            </div>
          </div>
        </li>
        <li class="customers-card">
          <div class="card-place">
            <svg class="customer-icon" width="101px" height="16px">
              <use href="./img/images/svg/icons.svg#icon-stars"></use>
            </svg>
            <p class="customer-text">
              “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant
              experience ordering from this app”
            </p>
            <div class="customer-info">
              <img src="./img/images/custom-w.png" alt="custom" width="48px" height="48px" />
              <div>
                <h3 class="customer-name">Sumith Shah</h3>
                <p class="customer-descr">Some Dude</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="bg-img-top"></div>
    </div>
  </section>