<section class="section">
  <div class="favorites container">
    <h2 class="section-title">Some of Our Favorites</h2>
    <p class="favorites-txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-item">
        <svg class="favorites-ring" width="394" height="397">
          <use href="/img/images/svg/icons.svg#ring"></use>
        </svg>
        <img
          src="/img/images/gamburger.png"
          alt="gamburger"
          width="315"
          height="315"
          loading="lazy"
        />
      </li>
      <li class="favorites-item">
        <svg class="favorites-ring" width="394" height="397">
          <use href="/img/images/svg/icons.svg#ring"></use>
        </svg>
        <img
          src="/img/images/pasta.png"
          alt="pasta"
          width="315"
          height="315"
          loading="lazy"
        />
      </li>
      <li class="favorites-item">
        <svg class="favorites-ring" width="394" height="397">
          <use href="/img/images/svg/icons.svg#ring"></use>
        </svg>
        <img
          src="/img/images/pizza.png"
          alt="pizza"
          width="315"
          height="315"
          loading="lazy"
        />
      </li>
      <li class="favorites-item">
        <svg class="favorites-ring" width="394" height="397">
          <use href="/img/images/svg/icons.svg#ring"></use>
        </svg>
        <img
          src="/img/images/chicken.png"
          alt="chicken"
          width="315"
          height="315"
          loading="lazy"
        />
      </li>
      <li class="favorites-item">
        <svg class="favorites-ring" width="394" height="397">
          <use href="/img/images/svg/icons.svg#ring"></use>
        </svg>
        <img
          src="/img/images/salat.png"
          alt="salat"
          width="315"
          height="315"
          loading="lazy"
        />
      </li>
      <li class="favorites-item">
        <svg class="favorites-ring" width="394" height="397">
          <use href="/img/images/svg/icons.svg#ring"></use>
        </svg>
        <img
          src="/img/images/borshch.png"
          alt="borshch"
          width="315"
          height="315"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
