<header class="header-section section">
  <div class="main-nav container">
    <a href="./index.html" class="logo">
      <svg width="66" height="52">
        <use href="./img/images/svg/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="list">
        <li class="list-item"><a href="" class="link-item">Home</a></li>
        <li class="list-item"><a href="" class="link-item">About</a></li>
        <li class="list-item"><a href="" class="link-item">Service</a></li>
        <li class="list-item"><a href="" class="link-item">Menu</a></li>
        <li class="list-item"><a href="" class="link-item">Contact</a></li>
      </ul>
    </nav>

    <button type="button" data-modal-open class="btn head">Order Now</button>
  </div>
</header>
