<section class="hero-section section">
    <div class="container hero-container">
      <div class="hero-list">
        <h1 class="hero-title section-title">
          Enjoy Your Favorite <br />
          Food From Anywhere
        </h1>
        <p class="hero-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse <br />
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra <br />
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button type="button" data-modal-open class="btn head">Order now</button>
      </div>

      <div class="hero-image">
        <div class="slider-img fade">
          <div>
            <img src="../img/images/falafel.png" alt="nicefood" width="528" height="528" />
          </div>
          <!-- <div>
            <img src="../img/images/pngwing.png" alt="nicefood" width="528" height="528" />
          </div>
          <div>
            <img src="../img/images/chris-ralston.png" alt="nicefood" width="528" height="528" />
          </div>
        </div> -->
      </div>
    </div>
  </section>