<div class="backdrop js-overlay-modal">
  <div class="modal" data-modal="1">
    <button class="js-modal-close modal-button" type="button">
      <svg class="icon-modal-button" width="10.76" height="10.76">
        <use href="./img/images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">Order Form</p>
    <form class="modal-form" name="modal_form" autocomplete="off" method="post">

      <label class="modal-label" for="name">Name</label>

        <input
          class="modal-input"
          type="text"
          name="name"
          id="name"
          placeholder="Your name"
          required
          minlength="3"
          maxlength="25"
          title="The name must be between 3 and 25 characters"
        />
     
      <label class="modal-label" for="phone">Phone number</label>
        <input
          class="modal-input"
          type="tel"
          name="phone"
          id="phone"
          placeholder="38(0_ _) _ _ _   _ _   _ _"
          required
          minlength="12"
          maxlength="12"
          pattern="[0-9]{12}"
          title="This phone must be in the format 38 099 000 00 00"
        />
      
        <label class="modal-label" for="mails">E-mail</label>
      
        <input
          class="modal-input"
          type="email"
          name="mail"
          id="mails"
          placeholder="example@gmail.com"
          required
          title="Please enter a valid email address"
        />
      
       <button class="modal-btn-submit hf bt" type="submit">Send</button>
    </form>
   
  </div>
</div>
