<section class="offerings-section section">
  <div class="container offerings-container">
    <img src="./img/images/apple.png" alt="apple" width="550" height="604" />
    <div class="offerings-content">
      <h2 id="about" class="section-title">Whats Special About Our Offerings</h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings-list">
        <li class="list-item">
          <div class="thumb">
            <div class="offerings-icon">
              <svg class="" width="32" height="32">
                <use href="./img/images/svg/icons.svg#icon-rocket"></use>
              </svg>
            </div>
            <h3 class="section-subtitle">Fasest Delivery</h3>
            <p class="paragraph offer-list-paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </div>
        </li>
        <li class="list-item">
          <div class="thumb">
            <div class="offerings-icon">
              <svg class="" width="32" height="32">
                <use href="./img/images/svg/icons.svg#icon-touch"></use>
              </svg>
            </div>
            <h3 class="section-subtitle">Easy To Order</h3>
            <p class="paragraph offer-list-paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </div>
        </li>
      </ul>
      <button
        class="light-theme-btn btn btn-offerings js-open-modal"
        data-modal="1"
        type="button"
      >
        Order Now
      </button>
    </div>
    <div class="bg-img-bottom"></div>
  </div>
</section>
