<!-- Subscribe-->

<section class="subscribe-section section">
    <div class="container sub-container">
      <div>
        <h2 class="section-title sub-title">Subscribe To Get Special Offers</h2>
        <p class="paragraph sub-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
          tristique.
        </p>

        <!-- the form -->
        <button type="button" class="btn sub">Subscribe</button>
      </div>
      <img class="sub-img" src="../img/images/banan.png" alt="banana" width="608" height="266" />
    </div>
  </section>