<!-- Subscribe-->

<section class="subscribe-section section">
  <div class="container sub-container">
    <div>
      <h2 class="section-title sub-title">Subscribe To Get Special Offers</h2>
      <p class="paragraph sub-paragraph">
        Order now and receive 10% off your first meal with Enjoy Your Favorite
        Food From Anywhere.
      </p>

      <!-- the form -->
      <div class="subscribe-form">
        <form class="footer-form">
          <div class="subscribe-form">
            <input
              type="text"
              placeholder="Enter your email"
              id="mail_input"
              class="mail-input subscribe"
              name="emeil-for-subscribe"
              required
            />
            <button type="button" class="btn sub main">Subscribe</button>
          </div>
        </form>

  
      </div>
    </div>
    <div>
      <img
        class="sub-img"
        src="../img/images/banan.png"
        alt="banana"
        width="608"
        height="266"
      />
    </div>
  </div>
</section>
