/* header */
.header-section.section {
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  background: var(--main-bg-color);
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav {
  display: flex;
  height: 72px;
  align-items: center;
  text-decoration: none;
  justify-content: flex-end;
}
/* logo */
.logo {
  display: flex;
  margin-right: 735px;
  align-items: center;
  margin-right: auto;
}

.nav .list {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.list .list-item+.list-item {
  margin-left: 28px;
}

.link-item {
  text-decoration: none;
  padding-top: 28px;
  margin-bottom: 28px;
  position: relative;
}

.link-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: var(--main-accent-color);
}

.link-item:hover:before {
  width: 100%;
}

.link-item {
  text-decoration: none;
  color: var(--primary-text-color);
  padding-top: 28px;
  margin-bottom: 28px;
  position: relative;
}

.link-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: var(--main-accent-color);
  transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item:hover:before {
  width: 100%;
}

.link-item::before {
  transition: all width 0.35s 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .list .link-item:hover,
.nav .list .link-item:focus {
  color: var(--main-accent-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.head {
  margin-left: 30px;
}