/* MODAL */

body.lock-scroll { 
    overflow: hidden; 
}

.backdrop {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.7);
    z-index: 1000;
    transition: opacity var(--transition), visibility var(--transition);
}

.modal {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 458px;
    /* height: 449px; */
    padding: 32px;
    border-radius: 30px;
    /* background: rgba(94, 99, 99, 0.7); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    background-color: var(--main-clearance-color);
}

.backdrop.active, .modal.active {
    opacity: 1;
    visibility: visible;
    
}

.modal-button {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clean-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    transition: var(--transition);
    cursor: pointer;
    border: none;
    
}



.modal-button:hover,
.modal-button:focus {
    background-color: var(--main-accent-color);
}



.modal-title {
    text-align: center;
    font-size: 24px;
    line-height: calc(29 / 24);
    margin-bottom: 20px;
}

.modal-label{
line-height: calc(22 / 16);
font-weight: 500;

}