/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./variables.css');
@import url('./base.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./offerings.css');
@import url('./customers-say.css');
@import url('./favorites.css');
@import url('./footer.css');